%div
  %h2 Music Scrobbles
  %ul
    - @music_scrobble_services.each do |service|
      %li
        %h3
          = service.label
          %small.text-muted= "#{service.username} - #{service.confirmed? ? 'Confirmed' : 'Not confirmed'}"
  %h3 Add account
  %p= link_to 'last.fm', external_services_path(service: 'lastfm'), data: { method: :post }

%div
  %h2 Activity
  %ul
    - @activity_services.each do |service|
      %li
        %h3
          = service.label
          %small.text-muted= "#{service.username} - #{service.confirmed? ? 'Confirmed' : 'Not confirmed'}"
  %h3 Add account
  %p= link_to 'RescueTime', external_services_path(service: 'rescuetime'), data: { method: :post }
