%h2 Music Scrobbles
%ul
  - @music_scrobble_services.each do |service|
    %li
      %h3
        = service.label
        %small.text-muted= "#{service.username} - #{service.confirmed? ? 'Confirmed' : 'Not confirmed'}"
%p= link_to 'Add account', external_services_path, data: { method: :post, params: { type: 'MusicScrobbleService', app: 'LastFm' } }
