%div
  %h2 Music Scrobbles
  %ul
    - @music_scrobble_services.each do |service|
      %li
        %h3
          = service.label
          %small.text-muted= "#{service.username} - #{service.confirmed? ? 'Confirmed' : 'Not confirmed'}"
  %h3 Add account
  = form_for @new_music_scrobble_service, as: :external_service, url: { controller: :external_services } do |f|
    %h4 last.fm
    = hidden_field_tag 'service', 'lastfm'

    = f.label :label
    = f.text_field :label, value: 'last.fm'

    = f.submit 'Add', class: 'btn btn-default'

%div
  %h2 Activity
  %ul
    - @activity_services.each do |service|
      %li
        %h3
          = service.label
          %small.text-muted= "#{service.confirmed? ? 'Confirmed' : 'Not confirmed'}"
  %h3 Add account
  = form_for @new_rescue_time_service, as: :external_service, url: { controller: :external_services } do |f|
    %h4 RescueTime
    = hidden_field_tag 'service', 'rescuetime'

    = f.label :label
    = f.text_field :label, value: 'RescueTime'

    = f.fields_for :data do |data_f|
      = data_f.label :api_key
      = data_f.text_field :api_key

    = f.submit 'Add', class: 'btn btn-default'

%div
  %h2 Location
  %ul
    - @moves_services.each do |service|
      %li
        %h3
          = service.label
          %small.text-muted= "#{service.confirmed? ? 'Confirmed' : 'Not confirmed'}"
  %h3 Add account
  = form_for @new_moves_service, as: :external_service, url: { controller: :external_services } do |f|
    %h4 Moves
    = hidden_field_tag 'service', 'moves'

    = f.label :label
    = f.text_field :label, value: 'Moves'

    = f.submit 'Add', class: 'btn btn-default'
